#sidebar {
  width: 100%;
  height: 100%;
  //width: 285px;
  border-right: 0.5px solid #e1e4e5;
  display: flex;
  flex-direction: column;
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: #cbcbcb;
    border-radius: 10px;
  }
  #row1 {
    display: flex;
    flex-direction: column;
    #sidebarHeader {
      flex-basis: 67px;
      background-color: #eeeeee;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .avatarSection {
        display: flex;
        .picture {
          min-width: 48px;
          max-width: 48px;
          margin-left: 10px;
          margin-right: 10px;
          img {
            max-width: 100%;
          }
        }
        .nameSection {
          color: #545454;
          display: flex;
          align-items: center;
          margin-right: 15px;
        }
      }

      .actionButtons {
        min-width: 50px;
        display: flex;

        img {
          width: 20px;
          margin-right: 15px;
          cursor: pointer;
        }
      }
    }

    #searchBox {
      flex-basis: 50px;
      background-color: #fbfbfb;
      border-bottom: 1px solid #e1e4e5;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        position: absolute;
        left: 30px;
      }

      input {
        width: calc(90% - 60px);
        border: none;
        border-radius: 20px;
        height: 70%;
        padding-left: 40px;
        color: #a4a4a4;
        outline: none;
        //font-size: 0.9vw;
        box-shadow: 0px 0px 3px #efefef;
        &::placeholder {
          color: #a4a4a4;
          font-weight: 100;
        }
      }
    }
  }

  #sidebarContent {
    flex-grow: 1;
    overflow: auto;

    .conversation {
      height: 67px;
      display: flex;

      transition: all 0.4s ease-in-out;
      cursor: pointer;
      &:hover {
        background-color: rgba(#ccc, 0.05);
      }
      .picture {
        position: relative;
        flex-basis: 73px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          max-width: 100%;
          width: 48px;
        }
      }
      .content {
        border-bottom: 1px solid #f2f2f2;
        flex-grow: 1;
        padding: 13px 0px;
        padding-right: 10px;
        .conversationHeader {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .name {
            color: #040404;
          }
          .time {
            color: #979797;
            font-size: 13px;
            padding-top: 2px;
          }
        }

        .message {
          color: #717171;
          font-size: 13px;
          padding-top: 5px;
          display: flex;
          align-items: center;
          white-space: nowrap;
          width: 120px;
          overflow: hidden;
          text-overflow: ellipsis;

          img {
            margin-right: 2px;
          }
        }
      }
    }
  }
}
